<nav class="navbar navbar-expand-lg bg-dark border-bottom border-body" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'signup' %}">SokoHub</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'products' %}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Products</a>
        </li>
          {% if user.is_authenticated and user.user_type == 'customer' %}
              <li class="nav-item">
                <a class="nav-link" href="#">Products</a>
            </li>
          	 <li class="nav-item">
                <a class="nav-link" href="#">My Orders</a>
            </li>
          {% endif %}

       {% if user.is_authenticated and user.user_type == 'vendor' %}
           <li class="nav-item">
                <a class="nav-link" href="#">Dashboard</a>
            </li>
              <li class="nav-item">
                <a class="nav-link" href="#">My Products</a>
            </li>
          	 <li class="nav-item">
                <a class="nav-link" href="#">Orders</a>
            </li>
          {% endif %}



{#        <li class="nav-item dropdown">#}
{#          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">#}
{#            Dropdown#}
{#          </a>#}
{#          <ul class="dropdown-menu">#}
{#            <li><a class="dropdown-item" href="#">Action</a></li>#}
{#            <li><a class="dropdown-item" href="#">Another action</a></li>#}
{#            <li><hr class="dropdown-divider"></li>#}
{#            <li><a class="dropdown-item" href="#">Something else here</a></li>#}
{#          </ul>#}
{#        </li>#}
{#        <li class="nav-item">#}
{#          <a class="nav-link disabled" aria-disabled="true">Disabled</a>#}
{#        </li>#}
      </ul>
        {% if user.is_authenticated %}
          	 <form action="{% url 'logout' %}" method="post" class="d-flex">
              {% csrf_token %}
              <button type="submit" class="btn btn-outline-danger">Log Out</button>
            </form>
        {% else %}
            <form method="get" class="d-flex" role="login" action="{% url 'login' %}">
                <button class="btn btn-outline-success" type="submit">Login</button>
            </form>
            <form method="get" class="d-flex px-2" role="register" action="{% url 'signup' %}">
                <button class="btn btn-outline-info" type="submit">Register</button>
            </form>
          {% endif %}
    </div>
  </div>
</nav>